

body {
       background-color: #333;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container-fluid{

  border: 0px  #ccc;
  background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    color: orangered;
   margin-left: 0px;
    cursor: pointer;
	text-shadow: 2px 2px #fff;
	position:static;
	
}

.navbar-brand{
    color: white ;
	    margin-top: 0%;
		float: none;
}

 .nav-link {
    color: white ;
	    margin-top: 0%;
		float: right;
}

.navbar-brand:hover, .nav-link:hover {
    background-color: orangered ;
}
